<footer class="w-full px-8 py-16 flex text-sm">
    <div class="flex w-1/2 items-center opacity-50">
        Copyright &copy;
        <a [href]="website" target="_blank" class="inline-block mx-1 hover:underline"
            >FODL Finance</a
        >
        2022
    </div>

    <div class="flex w-1/2 justify-end items-center">
        <a
            class="opacity-50 hover:opacity-100 transition-all"
            href="https://medium.com/@FODL"
            target="_blank"
        >
            <img src="assets/medium.svg" class="w-6 mx-2" />
        </a>

        <a
            class="opacity-50 hover:opacity-100 transition-all"
            href="https://fodl-1.gitbook.io/fodl-1/"
            target="_blank"
        >
            <img src="assets/gitbook.svg" class="w-6 mx-2" />
        </a>

        <a
            class="opacity-50 hover:opacity-100 transition-all"
            href="https://twitter.com/FODLfi"
            target="_blank"
        >
            <img src="assets/twitter.svg" class="w-6 mx-2" />
        </a>

        <a
            class="opacity-50 hover:opacity-100 transition-all"
            href="https://discord.gg/vqnzTuF5mb"
            target="_blank"
        >
            <img src="assets/discord.svg" class="w-6 mx-2" />
        </a>
    </div>
</footer>
