<div class="flex items-start space-x-4">
    <div class="w-1/2 bordered-block bordered-block--semi-transparent bordered-block--no-padding">
        <div class="py-56 min-h-[38rem]">
            <mat-progress-spinner
                class="mx-auto my-8"
                color="accent"
                mode="indeterminate"
            ></mat-progress-spinner>
        </div>
    </div>

    <div class="w-1/2 flex flex-col space-y-4">
        <div class="bordered-block bordered-block--semi-transparent bordered-block--no-padding">
            <div class="py-16 min-h-[18.75rem]">
                <mat-progress-spinner
                    class="mx-auto my-8"
                    color="accent"
                    mode="indeterminate"
                ></mat-progress-spinner>
            </div>
        </div>

        <div class="bordered-block bordered-block--semi-transparent bordered-block--no-padding">
            <div class="py-20">
                <mat-progress-spinner
                    class="mx-auto my-8"
                    color="accent"
                    mode="indeterminate"
                ></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>
